@*@model ForestHome.ViewModel.LoginViewModel*@
@{
    ViewBag.Title = "Index";
}


@if (Request.IsAuthenticated)
{
    <h2>Hi, Successfully login</h2>
    <span>Welcome @Html.Encode(User.Identity.Name) </span>
    <br />

    <th>
        @Html.ActionLink("Student Page", "Student", "Student")
    </th>
}
else
{
    <h2>Please try again</h2>
    @Html.ActionLink("Login", "Login", "Account")
    <br />

    @Html.ActionLink("Register", "Register", "Account")
}